/* base part */

body {
  background-color: #2BAE66;
  width: 60vw;
  height: 100%;
  margin: 0;
  padding: 0vw 20vw;
  display:flex;
  flex-direction: column;
}

main {
  padding-top: 6vh;
  color: #FCF6F5;
  text-decoration: none;
  font-size: 22px;
}

main #addcourse {
  color: #FcF6F5;
}

form {
  position:relative;
  left:20vw;
  display:flex;
  flex-direction: column;
  width: 20vw;
  height: 20vh;
}

input[type="text"] {
  margin-top: 1vh;
  outline: none;
  height: 5vh;
  border-radius: 2.5vh;
}

input[type="text"]:focus {
  background-color: #5a4d50;
  border-radius: 2.5vh;
}

input[type="submit"] {
  position: relative;
  margin-top: 2vh;
  left: 5vw;
  height: 3vh;
  width: 10vw;
  border-radius: 2.5vh;
}

#deletebtn {
  position: relative;
  width: 2vw;
  height: 2vw;
  border: 1px #EC4D36 solid;
  box-shadow: 0vw 0vw 0.3vw #EC4D36;
  background-color: #EC4D36;
}

.courses {
  border: 1px solid #FcF6F5;
  margin-bottom: 5vh;
}

.hashtags {
  display:flex;
  justify-content: space-evenly;
}