doctype html 
html(lang="ko-kr")
    head 
        title #{pageTitle} | #{user.name}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")

    body 
        include partials/header.pug
        main 
            block main 
        aside 
            block aside 
        include partials/footer.pug