doctype HTML 
html(lang="ko-kr")
  head 
    style 
      include styles/base.css
      include styles/partials.css
    script(src="https://kit.fontawesome.com/d4e2b44a2e.js" crossorigin="anonymous")
  body 
    header 
      include partials/header.pug
    block content 
    footer 
      include partials/footer.pug