extends base.pug
include mixins/lecture.pug

block main 
    ul#lectures
        each cola in lectures 
            +lecture(cola)
        else 
            li You didn't paid any lecture.

block aside
    h3 aside here!