extends base.pug
include mixins/course.pug

block main 
    h1 Lectures everywhere! #{lecture.title}
    a(href=`${lecture.id}/edit`) Edit Video
    ul#courses 
        each potato in lecture.course
            +course(lecture.id, potato)
        else 
            li You didn't have any courses
