doctype html
html 
    head 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        form(method="POST")
            input(type="email", placeholder="Email@example.com", required, name="email")
            input(type="text", placeholder="Password", required, name="password")
            input(type="submit", value="Login")