doctype HTML 
html(lang="ko-kr")
  head 
    style 
      include styles/login.css
  body 
    header 
      a(href="/").homebtn <
    main
      form(method="POST" action="/login") 
        label(for="id") ID
        input(type="text" name="id" required maxlength="28" minlength="2")
        label(for="password") Password
        input(type="password" name="password" required maxlength="28")
        input(type="submit" value="Login").login
      a(href="/register").register Or Register