header
    nav  
        a(href="/") Home
        ul 
            if user.loggedIn
                li
                    a(href='/logout') Log out
            else
                li 
                    a(href='/login') Log in
    